.container_2 {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.container_2 .caja-produc {
  height: 420px;
  width: 220px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease-in-out; /* Combina las transiciones en una sola línea */
  margin: 10px;
  border: 2px solid #d5d5d5;
  margin-bottom: 3rem;
}
.container_2 .caja-produc hr{
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #d5d5d5;
}
.container_2 .caja-produc .img-car{
  width: 175px;
  height: 175px;
  margin: auto;
}
.container_2 .caja-produc .img-car img{
  height: 100%;
  width: 100%;
}
.container_2 .caja-produc .text {
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
}
.container_2 .caja-produc .text .starrr{
  display: block;
}
.container_2 .caja-produc .text .starrr a{
  font-size: 16px;
	padding: 0 1px;
	cursor: pointer;
	color: #FFD119;
	text-decoration: none;
}
.container_2 .caja-produc .marca{
  font-size: 13px;
}
.container_2 .caja-produc .precios{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container_2 .caja-produc .precios .ahora h4{
  color: #626262;
  font-size: 16px;
}
.container_2 .caja-produc .precios .ahora h3{
  font-size: 20px;
  color: #ffc107;
}
.container_2 .caja-produc .precios .antes h4{
  color: #626262;
  font-size: 12px;
}
.container_2 .caja-produc .precios .antes h3{
  font-size: 12px;
  margin-top: -10px;
  text-decoration: line-through;
}
.container_2 .caja-produc .text .diario {
  font-size: 10px;
  color: #5c5c5c;
  margin-top: 8px;
  margin-left: 2px;
}
.container_2 .caja-produc .text .marca{
  color: #5c5c5c;
}
.container_2 .caja-produc .text .titulo{
  font-size: 'Montserrat', sans-serif;
  font-size: 20px;
  white-space: nowrap;  
}
.container_2 .caja-produc .boton{
  text-align: center;
  margin-top: 5px;
}
.container_2 .caja-produc button {
  margin-top: -10px;
  width: 90%;
  background-color: #ffc107;
  color: black; 
  border-radius: 30px;
  border: none;
  height: 50px;
  transition: background-color 0.3s, color 0.3s; 
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.container_2 .caja-produc:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.container_2 .caja-produc button:hover {
  background-color: black; 
  color: white;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button {
  background-color: #ffdb58;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1rem;
  margin-left: 10px;
}

.pagination button:hover,
.pagination button:focus {
  background-color: #f5c637;
  color: black;
}